name: Build and Release

on:
  push:
    tags:
      - v[0-9]+.*

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/create-gh-release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  upload-assets:
    needs: create-release
    runs-on: ${{ matrix.runner }}

    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            runner: ubuntu-latest

          - target: aarch64-apple-darwin
            runner: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: taiki-e/github-actions/install-rust@main
        with:
          toolchain: nightly
      - uses: taiki-e/upload-rust-binary-action@v1
        with:
          bin: lume-lsp
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ matrix.target }}
